<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add 
      name="GameWikiDb"
      connectionString="server=localhost;port=3306;database=game_wiki_platform;uid=root;pwd=Magregor431!;"
      providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

</configuration>